    <!--Start Features Block-->
    <div class="features">
          <!--Start Feature 1-->
    <div class="flex feature">
        <img src="./images/feature/01.png" alt="feature" class="feature__image">
        <h3 class="feacher__heading">A Furture</h3>
        <p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab distinctio </p>
     
    </div>
    <!--End Start Feature 1-->
    <!--************-->
        <!--Start Feature 2-->
    <div class="flex feature">
        <img src="./images/feature/01.png" alt="feature" class="feature__image">
        <h3 class="feacher__heading">A Furture</h3>
        <p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab distinctio </p>
     
    </div>
    <!--End Start Feature 2-->
    <!--************-->
        <!--Start Feature 3-->
    <div class="flex feature">
        <img src="./images/feature/01.png" alt="feature" class="feature__image">
        <h3 class="feacher__heading">A Furture</h3>
        <p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab distinctio </p>
     
    </div>
    <!--End Start Feature 3-->
    <!--************-->
        <!--Start Feature 4-->
    <div class="flex feature">
        <img src="./images/feature/01.png" alt="feature" class="feature__image">
        <h3 class="feacher__heading">A Furture</h3>
        <p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab distinctio </p>
     
    </div>
    <!--End Start Feature 4-->
    <!--************-->
        <!--Start Feature 5-->
    <div class="flex feature">
        <img src="./images/feature/01.png" alt="feature" class="feature__image">
        <h3 class="feacher__heading">A Furture</h3>
        <p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab distinctio </p>
     
    </div>
    <!--End Start Feature 5-->
    <!--************-->
        <!--Start Feature 6-->
    <div class="flex feature">
        <img src="./images/feature/01.png" alt="feature" class="feature__image">
        <h3 class="feacher__heading">A Furture</h3>
        <p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab distinctio </p>
     
    </div>
    <!--End Start Feature 6-->
    <!--************-->

        <!--Start Feature 7-->
    <div class="flex feature">
        <img src="./images/feature/01.png" alt="feature" class="feature__image">
        <h3 class="feacher__heading">A Furture</h3>
        <p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab distinctio </p>
     
    </div>
    <!--End Start Feature 7-->
    <!--************-->

        <!--Start Feature 8-->
    <div class="flex feature">
        <img src="./images/feature/01.png" alt="feature" class="feature__image">
        <h3 class="feacher__heading">A Furture</h3>
        <p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab distinctio </p>
     
    </div>
    <!--End Start Feature 8-->
    <!--************-->
    </div>
      <!--End Features Block-->
