<!--Start Navbar block-->
<nav class="flex navbar">
  <!--Start Company Logo-->
  <div class="flex logo navbar__logo">
    <img class="logo__image" src="./images/T-Logo.png" alt="Logo T letter" />
    <span class="logo__text">ravel</span>
  </div>
  <!--End Company Logo-->
  <!--Start navbar list-->
  <ul class="flex navbar__list" id="nav-list">
    <li class="navbar__item"><a href="#" class="navbar__nav-link">Home</a></li>
    <li class="navbar__item">
      <a href="#" class="navbar__nav-link">Tahiti</a>
    </li>
    <li class="navbar__item">
      <a href="#" class="navbar__nav-link">Icland</a>
    </li>
    <li class="navbar__item">
      <a href="#" class="navbar__nav-link">Amazon</a>
    </li>
    <li class="navbar__item">
      <a href="#" class="navbar__nav-link">Register</a>
    </li>
    <li class="navbar__item"><a href="#" class="navbar__nav-link">Login</a></li>
    <li class="navbar__item">
      <a href="#" class="navbar__nav-link">Contact</a>
    </li>
  </ul>
  <!--End navbar list-->
  <!--Start Toggle Menu-->
  <div class="flex menu-toggle navbar__menu-toggle" id="menu-toggle">
    <div class="menu-toggle__span" id="menu-toggle__one"></div>
    <div class="menu-toggle__span" id="menu-toggle__two"></div>
    <div class="menu-toggle__span" id="menu-toggle__three"></div>
  </div>
  <!--End Toggle Menu-->
</nav>

<!--End Navbar block-->
