<section class="testimonial-cards">
  <!--Start Testimonial card -1 -->
<div class="flex testimonial-card card-left" data-aos="fade-up">
  <img
    src="./images/Testimonial/card-1.jpg"
    alt=""
    class="testimonial-card__img"
  />

  <img
    src="./images/icons/Quote-Icon.png"
    alt=""
    class="testimonial-card__icon"
  />

  <p class="testimonial-card__text">
    "There is nothing as exciting as this trip with Travelling Happy. I've
    recommended this trip for all my friends. Thank you Travelling Happy."
  </p>
  <p class="testimonial-card__sign">
    Linda Watson <span class="sign__company">IPM CEO</span>
  </p>
</div>
<!--End Testimonial card-->
<!--Start Testimonial card -2- -->
<div class="flex testimonial-card card-right" data-aos="fade-up">
  <img
    src="./images/Testimonial/card-1.jpg"
    alt=""
    class="testimonial-card__img"
  />

  <img
    src="./images/icons/Quote-Icon.png"
    alt=""
    class="testimonial-card__icon"
  />

  <p class="testimonial-card__text">
    "There is nothing as exciting as this trip with Travelling Happy. I've
    recommended this trip for all my friends. Thank you Travelling Happy."
  </p>
  <p class="testimonial-card__sign">
    Linda Watson <span class="sign__company">IPM CEO</span>
  </p>
</div>
<!--End Testimonial card-->
<!--Start Testimonial card -3- -->
<div class="flex testimonial-card card-left" data-aos="fade-up">
  <img
    src="./images/Testimonial/card-1.jpg"
    alt=""
    class="testimonial-card__img"
  />

  <img
    src="./images/icons/Quote-Icon.png"
    alt=""
    class="testimonial-card__icon"
  />

  <p class="testimonial-card__text">
    "There is nothing as exciting as this trip with Travelling Happy. I've
    recommended this trip for all my friends. Thank you Travelling Happy."
  </p>
  <p class="testimonial-card__sign">
    Linda Watson <span class="sign__company">IPM CEO</span>
  </p>
</div>
<!--End Testimonial card-->
<!--Start Testimonial card -4- -->
<div class="flex testimonial-card card-right" data-aos="fade-up">
  <img
    src="./images/Testimonial/card-1.jpg"
    alt=""
    class="testimonial-card__img"
  />

  <img
    src="./images/icons/Quote-Icon.png"
    alt=""
    class="testimonial-card__icon"
  />

  <p class="testimonial-card__text">
    "There is nothing as exciting as this trip with Travelling Happy. I've
    recommended this trip for all my friends. Thank you Travelling Happy."
  </p>
  <p class="testimonial-card__sign">
    Linda Watson <span class="sign__company">IPM CEO</span>
  </p>
</div>
<!--End Testimonial card-->


</section>
