<!--Start testimonial Block-->
<section class="testimonial">
  <header class="testimonial-header">
   
   
   
    <!--Start testimonial header top-->
    <div class="testimonial-header__top">
      <img src="./images/icons/Quote-Icon.png" alt="quote" class="testimonial-top__image">
      <h2 class="testimonial-top__heading">What People Say ...</h2>
      <p class="testimonial-top__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores et quod eius eum voluptates at. Magni alias qui at aut eius in earum nulla repudiandae porro voluptatibus obcaecati, dolorem voluptates.</p>
      <a href="#" class="testimonial-top__link">Tell others your opinion 
        <div><span></span></div>
      </a>
    </div>
    <!--End testimonial header top-->
    
    <!--Start testimonial header bottom-->
    <div class="testimonial-header__bottom"  data-aos="zoom-in-up">
      
        <h3>Stories</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      
     
    </div>
    <!--End testimonial header bottom-->
  </header>
  <section class="testimonial-cards testimonial__testimonial-cards">
  <!--Start Testimonial card -1 -->
<div class="flex testimonial-card card-left" data-aos="fade-up">
  <img
    src="./images/Testimonial/card-1.jpg"
    alt=""
    class="testimonial-card__img"
  />

  <img
    src="./images/icons/Quote-Icon.png"
    alt=""
    class="testimonial-card__icon"
  />

  <p class="testimonial-card__text">
    "There is nothing as exciting as this trip with Travelling Happy. I've
    recommended this trip for all my friends. Thank you Travelling Happy."
  </p>
  <p class="testimonial-card__sign">
    Linda Watson <span class="sign__company">IPM CEO</span>
  </p>
</div>
<!--End Testimonial card-->
<!--Start Testimonial card -2- -->
<div class="flex testimonial-card card-right" data-aos="fade-up">
  <img
    src="./images/Testimonial/card-1.jpg"
    alt=""
    class="testimonial-card__img"
  />

  <img
    src="./images/icons/Quote-Icon.png"
    alt=""
    class="testimonial-card__icon"
  />

  <p class="testimonial-card__text">
    "There is nothing as exciting as this trip with Travelling Happy. I've
    recommended this trip for all my friends. Thank you Travelling Happy."
  </p>
  <p class="testimonial-card__sign">
    Linda Watson <span class="sign__company">IPM CEO</span>
  </p>
</div>
<!--End Testimonial card-->
<!--Start Testimonial card -3- -->
<div class="flex testimonial-card card-left" data-aos="fade-up">
  <img
    src="./images/Testimonial/card-1.jpg"
    alt=""
    class="testimonial-card__img"
  />

  <img
    src="./images/icons/Quote-Icon.png"
    alt=""
    class="testimonial-card__icon"
  />

  <p class="testimonial-card__text">
    "There is nothing as exciting as this trip with Travelling Happy. I've
    recommended this trip for all my friends. Thank you Travelling Happy."
  </p>
  <p class="testimonial-card__sign">
    Linda Watson <span class="sign__company">IPM CEO</span>
  </p>
</div>
<!--End Testimonial card-->
<!--Start Testimonial card -4- -->
<div class="flex testimonial-card card-right" data-aos="fade-up">
  <img
    src="./images/Testimonial/card-1.jpg"
    alt=""
    class="testimonial-card__img"
  />

  <img
    src="./images/icons/Quote-Icon.png"
    alt=""
    class="testimonial-card__icon"
  />

  <p class="testimonial-card__text">
    "There is nothing as exciting as this trip with Travelling Happy. I've
    recommended this trip for all my friends. Thank you Travelling Happy."
  </p>
  <p class="testimonial-card__sign">
    Linda Watson <span class="sign__company">IPM CEO</span>
  </p>
</div>
<!--End Testimonial card-->


</section>
</section>

<!--End testimonial Block-->