<!--Start Photo gallery-->
<section class="gallery">
  <!--Gallery Slider-->
  <h2 class="gallery__heading">Our Gellery</h2>
  <div class="gallery__slider">
    <div class="slider__counter"></div>
    <img src="" alt="Monument one" class="slider__image" />
    <div class="slider__prev"><</div>
    <div class="slider__next">></div>
  </div>
  <!--Gallery photo description-->
  <div class="gallery__text"></div>
  <!--Gallery photo row-->
  <div class="gallery__row">
    <img
      src="./images/gallery/01.webp"
      alt="Monument one"
      class="gallery__row-img"
      id="1"
    />
    <img
      src="./images/gallery/02.webp"
      alt="Monument two"
      class="gallery__row-img"
      id="2"
    />
    <img
      src="./images/gallery/03.webp"
      alt="Monument three"
      class="gallery__row-img"
      id="3"
    />
    <img
      src="./images/gallery/04.webp"
      alt="Monument four"
      class="gallery__row-img"
      id="4"
    />
    <img
      src="./images/gallery/05.webp"
      alt="Monument five"
      class="gallery__row-img"
      id="5"
    />
    <img
      src="./images/gallery/06.webp"
      alt="Monument six"
      class="gallery__row-img"
      id="6"
    />
  </div>
</section>
<!--End photo gallery-->
