<!--contact section-->
    <section class="contact">
      <div class="cover"></div>

      <!--contact-left-->
      <div class="contact__left">
        <!--contact-option-->
        <div class="contact__option">
          <img src="./images/icons/place.webp" class="contact__option-icon" />
          <div class="contact__option-text">Address, City, Country</div>

        </div>
        <!--ENd contact option-->

        

        <!--contact-option-->
        <div class="contact__option">
          <img src="./images/icons/envelope.webp" class="contact__option-icon" />
          <div class="contact__option-text">contact@thappy.com</div>

        </div>
        <!--ENd contact option-->

        <!--contact-option-->
        <div class="contact__option">
          <img src="./images/icons/phone.webp" class="contact__option-icon" />
          <div class="contact__option-text">+00 0000 000 000</div>

        </div>
        <!--ENd contact option-->
        <!--contact-option-->
        <div class="contact__option">
          <img src="./images/icons/clock.webp" class="contact__option-icon" />
          <div class="contact__option-text">Mon-Fri 8:00 AM To 5:00 PM</div>

        </div>
        <!--ENd contact option-->
      </div>
      <!--End contact left-->

      <!-- contact right-->
      <div class="contact__right">
        <div class="contact__popup">
          Pleasw write your name and email, and then your message.
        </div>
        <h2 class="contact__heading">Contact Us</h2>
        <form class="contact__form">
          <input type="text"  id="contact-name" placeholder="Your Name" class="contact__form-input">
          <input type="email" id="contact-email" placeholder="Your email" class="contact__form-input">
          <textarea  id="contact-msg" cols="30" rows="10" placeholder="Your message" class="contact__form-input"></textarea>
          <input type="button" value="SEND" class="contact__form-btn" id="contact-btn">
         
        </form>
      </div>
      <!--End contact right-->



    </section>
