<!--Start Toggle Menu-->
<div class="flex menu-toggle" id="menu-toggle">
  <div class="menu-toggle__span" id="menu-toggle__one"></div>
  <div class="menu-toggle__span" id="menu-toggle__two"></div>
  <div class="menu-toggle__span" id="menu-toggle__three"></div>
</div>
<!--End Toggle Menu-->

<!-- Start Setting Box Icon-->
<span class="material-symbols-outlined setting-icon"> settings </span>
<!--End Setting Box Icon-->

<!--Sart footer icon-->
<span class="material-symbols-outlined footer-icon"> chevron_right </span>
<!--End footer icon-->
